@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.3px;
}

.sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.items {
  font-size: 15px !important;
  border-radius: 8px;
  margin-block: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.items:hover {
  background-color: #e4e6f2;
}

.active {
  background-color: #e4e6f2 !important;
}
